{% extends 'Layouts/layout.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}    
    <h1>{{ title }}</h1>  
    <hr/>  
    {% if messages %}
        {% for message in messages %}
            <div class="alert-success">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% if user.email %}
        <h2>Bienvenido {{ request.user.first_name }} {{ request.user.last_name }}</h2>
        <p>
            {{ request.user.email }}
        </p>
        {% else %}
            <h2>Bienvenido</h2>    
            <p>Por favor, identifícate</p>    
    {% endif %}
{% endblock %}